<h1>Survey</h1>

<%= form_tag 'score/another', class: 'js-validate' do %>
  <fieldset>
    <h6 class="label-required">Address</h6>

    <label for="<%= question_id(0, 'name') %>">Name</label>
    <input type="text" <%= question_html(0, 'name') %> required="required">

    <label for="<%= question_id(0, 'email') %>">Email</label>
    <input type="text" <%= question_html(0, 'email') %> required="required">

    <label for="<%= question_id(0, 'address') %>">Address</label>
    <input type="text" <%= question_html(0, 'address') %> required="required">

    <label for="<%= question_id(0, 'zipcode') %>">Zip/Postal Code</label>
    <input type="text" <%= question_html(0, 'zipcode') %> required="required">
  </fieldset>

  <fieldset>
    <h6 class="label-required">How many people currently live in your household?</h6>
    <input type="text" <%= question_html(1, 'occupants') %> required="required">
  </fieldset>

  <fieldset>
    <h6 class="label-required">How many pets currently live in your household?</h6>
    <input type="text" <%= question_html(2, 'pets') %> required="required">
  </fieldset>

  <fieldset>
    <h6 class="label-required">What type of home or building do you live in?</h6>
    <label>
      <input type="radio" value="single" <%= question_html(3, 'type') %> required="required">
      Single family home
    </label>
    <label>
      <input type="radio" value="multi" <%= question_html(3, 'type') %> required="required">
      Multi-unit home
    </label>
  </fieldset>

  <fieldset>
    <h6 class="label-required">How many stories is your home?</h6>
    <label>
      <input type="radio" value="1" <%= question_html(4, 'stories') %> required="required">
      1
    </label>
    <label>
      <input type="radio" value="2" <%= question_html(4, 'stories') %> required="required">
      2
    </label>
    <label>
      <input type="radio" value="3" <%= question_html(4, 'stories') %> required="required">
      3
    </label>
    <label>
      <input type="radio" value="4+" <%= question_html(4, 'stories') %> required="required">
      4+
    </label>
  </fieldset>

  <fieldset>
    <h6 class="label-required">Approximately when was your home built?</h6>
    <%
        times = ['2014-2015', '2010-2013', '2005-2009', '2000-2004', '1990-1999', '1980-1980', '1970-1979', '1960-1969', '1950-1959', '1940-1949', '1930-1939', '1920-1929', 'Before 1919']
    %>
    <%= build_radios(times, 5, 'home_built', true).html_safe %>
  </fieldset>

  <fieldset>
    <h6>How long have you lived in the house?</h6>
    <label>
      <input type="radio" value="less_than_1" <%= question_html(6, 'occupied_for') %>>
      Less than 1 year
    </label>
    <label>
      <input type="radio" value="2-9" <%= question_html(6, 'occupied_for') %>>
      2-9 years
    </label>
    <label>
      <input type="radio" value="greater_than_9" <%= question_html(6, 'occupied_for') %>>
      More than 10 years
    </label>
  </fieldset>

  <fieldset>
    <h6 class="label-required">Approximately how many square feet is your home?</h6>
    <label>
      <input type="radio" value="less_than_1000" <%= question_html(7, 'square_feet') %> required="required">
      Less than 1000 sq. ft.
    </label>
    <label>
      <input type="radio" value="1000_2000" <%= question_html(7, 'square_feet') %> required="required">
      1000-2000 sq. ft.
    </label>
    <label>
      <input type="radio" value="2001_4000" <%= question_html(7, 'square_feet') %> required="required">
      2001-4000 sq. ft.
    </label>
    <label>
      <input type="radio" value="4001_7000" <%= question_html(7, 'square_feet') %> required="required">
      4001-7000 sq. ft.
    </label>
    <label>
      <input type="radio" value="greater_than_7000" <%= question_html(7, 'square_feet') %> required="required">
      Greater than 7000 sq. ft.
    </label>
  </fieldset>

  <fieldset>
    <h6>How well maintained is your home?</h6>
    <label>
      <input type="radio" value="expert" <%= question_html(8, 'maintained') %>>
      Expert/well maintained
    </label>
    <label>
      <input type="radio" value="somewhat" <%= question_html(8, 'maintained') %>>
      Somewhat maintained
    </label>
    <label>
      <input type="radio" value="deferred" <%= question_html(8, 'maintained') %>>
      Deffered maintenance
    </label>
  </fieldset>

  <fieldset>
    <h6>Is your home water supply from a well?</h6>
    <% well = {
      'yes' => 'Yes',
      'no' => 'No',
    } %>
    <%= build_radios(well, 9, 'water_supply') %>
  </fieldset>

  <fieldset>
    <h6>What type of exterior walls does your home have?</h6>
    <% types = ['Brick', 'Vinyl', 'Wood', 'Stucco', 'Solid concrete'] %>
    <%= build_radios(types, 9, 'exterior_type') %>
    <label>
      <input type="radio" value="other" <%= question_html(9, 'exterior_type') %>>
      Other (please specify)<br>
      <input type="text" <%= question_html(9, 'exterior_type') %>>
    </label>
  </fieldset>

  <fieldset>
    <h6>What type of roof does your home have?</h6>
    <label>
      <input type="radio" value="flat" <%= question_html(10, 'roof_type') %>>
      Flat
    </label>
    <label>
      <input type="radio" value="cathedral" <%= question_html(10, 'roof_type') %>>
      Cathedral / A-frame / Sloped / Barrel
    </label>
    <label>
      <input type="radio" value="complex" <%= question_html(10, 'roof_type') %>>
      Complex (multiple intersecting points)
    </label>
  </fieldset>

  <fieldset>
    <h6>Is the exterior of your house <em>mostly</em> in the sun or the shade?</h6>
    <label>
      <input type="radio" value="sun" <%= question_html(11, 'exterior_shade') %>>
      Mostly in the sun
    </label>
    <label>
      <input type="radio" value="shade" <%= question_html(11, 'exterior_shade') %>>
      Mostly in the shade
    </label>
  </fieldset>

  <fieldset>
    <h6 class="label-required">Does your house have any of the following features? (please select all that apply)</h6>
    <% features = {
      'attached' => 'Attached or underground garage',
      'attic' => 'Attic (unfinished/roof cavity)',
      'basement' => 'Basement (any type)',
      'stilts' => 'Built on stilts',
      'crawlspace' => 'Crawlspace (<em>a space under the floor that allows access to plumbing and wiring</em>)',
      'erv' => 'ERV/HRV/Mechanical Ventilation System',
      'fireplace' => 'Fireplace (any type)',
      'air_filter' => 'Portable air filters',
      'carpet' => 'Wall-to-wall carpet (in all or most of the house)',
      'na' => 'N/A',
    } %>
    <%= build_checkboxes(features, 12, 'features', true) %>
  </fieldset>

  <fieldset>
    <h6>Please describe your crawlsapce. Select al that apply. If you do not have a crawlsapce, click "Next"</h6>
    <% crawlspace = {
      'dry' => 'Always dry',
      'seasonally_wet' => 'Seasonally/ocasionally damp/wet',
      'localized_wetness' => 'Localized areas of dampness/wetness',
      'always_wet' => 'Always damp/wet',
      'sealed_barrier' => 'Sealed (barrier over dirt)',
      'sealed_mva' => 'Sealed with mechanically ventilated air',
      'idk' => 'I don\'t know',
    } %>
    <%= build_checkboxes(crawlspace, 13, 'crawlspace_features') %>
  </fieldset>

  <fieldset>
    <h6>Please describe your basement. (Select all that apply.) If you do not have a basement, click "Next."</h6>
    <% basement = {
      'dry' => 'Always dry',
      'seasonally_wet' => 'Seasonally/ocasionally damp/wet',
      'localized_wetness' => 'Localized areas of dampness/wetness',
      'always_wet' => 'Always damp/wet',
      'finished' => 'Finished, except for mechanical room',
      'unfinished' => 'Unfinished',
      'dirt' => 'Dirt Floor'
    } %>
    <%= build_checkboxes(basement, 14, 'basement') %>
  </fieldset>

  <fieldset>
    <h6>Please describe your fireplace(s). (Select all that apply.) If you do not have a fireplace, click "Next."</h6>
    <% fireplaces = {
      'wood' => 'Wood',
      'gas_open_front' => 'Gas, with ceramic logs, open front',
      'gas_sealed_front' => 'Gas, with ceramic logs, sealed glass front',
      'used_often' => 'Used often/frequently',
      'used_never' => 'Used infrequently/never used',
    } %>
    <%= build_checkboxes(fireplaces, 15, 'fireplaces') %>
  </fieldset>

  <fieldset>
    <h6>What is the age of all/majority of your wall-to-wall carpeting? If you do not have carpeting, please click "Next."</h6>
    <% carpeting_facts = {
      'new' => 'New',
      '1_5' => '1 to 5 years old',
      '6_15' => '6 to 15 years old',
      '16_25' => '16 to 25 years old',
      'idk' => 'I don\'t know',
    } %>
    <%= build_radios(carpeting_facts, 16, 'carpeting') %>
  </fieldset>

  <fieldset>
    <h6 class="label-required">Please describe the primary heating system in your home.</h6>
    <% heating = {
      'central_heat' => 'Forced/central heat',
      'baseboard' => 'Baseboard',
      'radiant_floor' => 'Radiant Floor',
      'wood_stove' => 'Wood stove/Fireplace',
      'radiator' => 'Radiator',
      'none' => 'None',
    } %>
    <%= build_radios(heating, 17, 'heating_system', true) %>
  </fieldset>

  <fieldset>
    <h6 class="label-required">Is your heating?</h6>
    <% heating_type = {
      'gas' => 'Gas',
      'fuel_oil' => 'Fuel Oil',
      'electric' => 'Electric',
      'wood' => 'Wood (stove/fireplace)',
    } %>
    <%= build_radios(heating_type, 18, 'heating_type', true) %>
  </fieldset>

  <fieldset>
    <h6>Where is your furnace located?</h6>
    <% furnace_location = {
      'basement': 'Basement',
      'crawlspace': 'Crawlspace',
      'attic': 'Attic',
      'garage': 'Garage',
      'inside': 'Inside the house (closet, mechanical room)',
      'idk': 'I don\'t know',
    } %>
    <%= build_radios(furnace_location, 20, 'furnace_location') %>
  </fieldset>

  <fieldset>
    <h6 class="label-required">Please describe the primary cooling system in your home.</h6>
    <% cooling = {
      'central_air' => 'Central air conditioning',
      'window_air' => 'Window air conditioner(s)',
      'evaporative' => 'Evaporative cooler (swamp cooler)',
      'whole_house' => 'Whole house (attic) fan',
      'window_fan' => 'Window fan(s)',
      'none' => 'None',
    } %>
    <%= build_radios(cooling, 19, 'cooling_system', true) %>
  </fieldset>

  <fieldset>
    <h6 class="label-required">Has your home ever been remodeled, renovated and/or retrofitted?</h6>
    <% remodeled = {
      'yes' => 'Yes',
      'no' => 'No',
      'idk' => 'I don\'t know',
    } %>
    <%= build_radios(remodeled, 20, 'remodeled', true) %>
  </fieldset>

  <fieldset>
    <h6>When was your home remodeled/renovated? Check all that apply.</h6>

    <table class="table table-striped table-fifths">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Full remodel</th>
          <th>Room Addition/Kitchen or Bath Remodel</th>
          <th>Minor renovation</th>
          <th>Energy Retrofit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Current/ongoing</th>
          <td>
            <input type="radio" value="full" <%= multi_quesiton_html(21, 'remodel_time', 'current') %>>
          </td>
          <td>
            <input type="radio" value="room" <%= multi_quesiton_html(21, 'remodel_time', 'current') %>>
          </td>
          <td>
            <input type="radio" value="minor" <%= multi_quesiton_html(21, 'remodel_time', 'current') %>>
          </td>
          <td>
            <input type="radio" value="energy" <%= multi_quesiton_html(21, 'remodel_time', 'current') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Within the past 24 months</th>
          <td>
            <input type="radio" value="full" <%= multi_quesiton_html(21, 'remodel_time', 'within_24_months') %>>
          </td>
          <td>
            <input type="radio" value="room" <%= multi_quesiton_html(21, 'remodel_time', 'within_24_months') %>>
          </td>
          <td>
            <input type="radio" value="minor" <%= multi_quesiton_html(21, 'remodel_time', 'within_24_months') %>>
          </td>
          <td>
            <input type="radio" value="energy" <%= multi_quesiton_html(21, 'remodel_time', 'within_24_months') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">In last 2-5 years</th>
          <td>
            <input type="radio" value="full" <%= multi_quesiton_html(21, 'remodel_time', '2_5_years') %>>
          </td>
          <td>
            <input type="radio" value="room" <%= multi_quesiton_html(21, 'remodel_time', '2_5_years') %>>
          </td>
          <td>
            <input type="radio" value="minor" <%= multi_quesiton_html(21, 'remodel_time', '2_5_years') %>>
          </td>
          <td>
            <input type="radio" value="energy" <%= multi_quesiton_html(21, 'remodel_time', '2_5_years') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">In last 5-10 years</th>
          <td>
            <input type="radio" value="full" <%= multi_quesiton_html(21, 'remodel_time', '5_10_years') %>>
          </td>
          <td>
            <input type="radio" value="room" <%= multi_quesiton_html(21, 'remodel_time', '5_10_years') %>>
          </td>
          <td>
            <input type="radio" value="minor" <%= multi_quesiton_html(21, 'remodel_time', '5_10_years') %>>
          </td>
          <td>
            <input type="radio" value="energy" <%= multi_quesiton_html(21, 'remodel_time', '5_10_years') %>>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>

  <fieldset>
    <h6>Do you live within 1/2 maile of any of the following? Please select all that apply.</h6>
    <% close_to = {
      'ag': 'Agricultural area or Farm',
      'airport': 'Airport',
      'highway': 'Highway',
      'industrial': 'Industrial area or Chemical plant',
      'lake': 'Lake/Wetlands/River',
      'ocean': 'Ocean',
    } %>
    <%= build_checkboxes(close_to, 22, 'lives_close_to') %>
  </fieldset>

  <fieldset>
    <h6>Do you live 1 block from any of the following or can you smell any of the following from your home?</h6>
    <% close_to_etc = {
      'coffee': 'Coffee roaster',
      'dry_cleaner': 'Dry Cleaner',
      'gas': 'Gas Station or Automotive repair facility',
      'golf': 'Golf course',
      'restaurant': 'Restaurant',
    } %>
    <%= build_checkboxes(close_to_etc, 23, 'lives_close_to_etc') %>
    <label>
      <input type="checkbox" value="other" <%= question_html(23, 'lives_close_to_etc') %>>
      Other (please specify)<br>
      <input type="text" <%= question_html(23, 'lives_close_to_etc') %>>
    </label>
  </fieldset>

  <fieldset>
    <h6 class="label-required">How many meals do you typically cook at home per week?</h6>
    <% meals = {
      '0_4': '0 to 4',
      '5_10': '5 to 10',
      'greater_than_11': 'more than 11',
    } %>
    <%= build_radios(meals, 24, 'meals_cooked', true) %>
  </fieldset>

  <fieldset>
    <h6>Please tell us a little bit more about your cooking habits.</h6>
    <table class="table table-striped table-thirds">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Yes</th>
          <th>No</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Do you cook with a steamer 5+ times per week?</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(25, 'cooking_habits', 'steam_often') %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(25, 'cooking_habits', 'steam_often') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Do you boil, simmer, and/or use a wok 5+ times per week?</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(25, 'cooking_habits', 'boil_often') %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(25, 'cooking_habits', 'boil_often') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Do you cook with gas?</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(25, 'cooking_habits', 'with_gas') %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(25, 'cooking_habits', 'with_gas') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Do you usually run the range hood while cooking?</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(25, 'cooking_habits', 'range_hood') %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(25, 'cooking_habits', 'range_hood') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Do you have a recirculating range hood (one that does not vent to the outside)?</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(25, 'cooking_habits', 'recirculating_hood') %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(25, 'cooking_habits', 'recirculating_hood') %>>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>

  <fieldset>
    <h6 class="label-required">How many times a week do you and your family members take showers longer than 10 minutes?</h6>
    <% showers ={
      'never': 'Never',
      '1_5': '1-5 times per week',
      'greater_than_6': '6+ times per week',
    } %>
    <%= build_radios(showers, 26, 'long_showers_per_week', true) %>
  </fieldset>

  <fieldset>
    <h6 class="label-required">Please tell us a little more about moisture in your home. Do you/your family <em>most often</em>:</h6>
    <table class="table table-striped table-thirds">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Yes</th>
          <th>No</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Run the bath fan while showering?</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(27, 'misc_moisture', 'shower_fan', true) %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(27, 'misc_moisture', 'shower_fan', true) %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Run a humidifier in one or more rooms?</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(27, 'misc_moisture', 'humidifier', true) %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(27, 'misc_moisture', 'humidifier', true) %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Use a steam shower?</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(27, 'misc_moisture', 'steam_shower', true) %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(27, 'misc_moisture', 'steam_shower', true) %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Use an indoor jacuzzi or spa tub?</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(27, 'misc_moisture', 'jacuzzi', true) %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(27, 'misc_moisture', 'jacuzzi', true) %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Notice condensation on walls or ceilings?</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(27, 'misc_moisture', 'wall_condensation', true) %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(27, 'misc_moisture', 'wall_condensation', true) %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Notice condensation in your laundry room?</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(27, 'misc_moisture', 'laundry_condensation', true) %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(27, 'misc_moisture', 'laundry_condensation', true) %>>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>

  <fieldset>
    <h6 class="label-required">Water leaks and intrusion can also be a major source of dampness. To the best of your knowledge has your home had any water leaks/damage in the past 2 years?</h6>
    <% water_leaks = {
      'one_leak': 'Yes, one leak',
      'two_leaks': 'Yes, two or more leaks in different locations',
      'no': 'No',
    } %>
    <%= build_radios(water_leaks, 28, 'water_leaks', true) %>
  </fieldset>

  <fieldset>
    <h6>Please describe the type of leak and how it was resolved. Check all that apply</h6>
    <table class="table table-striped table-thirds">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Fixed Immediately</th>
          <th>Long-term or Not Fixed Immediately</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Water leak (localized puddling)</th>
          <td>
            <input type="radio" value="fixed_immediately" <%= multi_quesiton_html(29, 'leak_treatment', 'localized_puddling') %>>
          </td>
          <td>
            <input type="radio" value="not_fixed_immediately" <%= multi_quesiton_html(29, 'leak_treatment', 'localized_puddling') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Water leak (recurring)</th>
          <td>
            <input type="radio" value="fixed_immediately" <%= multi_quesiton_html(29, 'leak_treatment', 'recurring') %>>
          </td>
          <td>
            <input type="radio" value="not_fixed_immediately" <%= multi_quesiton_html(29, 'leak_treatment', 'recurring') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Water leak (significant flowing water)</th>
          <td>
            <input type="radio" value="fixed_immediately" <%= multi_quesiton_html(29, 'leak_treatment', 'flowing') %>>
          </td>
          <td>
            <input type="radio" value="not_fixed_immediately" <%= multi_quesiton_html(29, 'leak_treatment', 'flowing') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Sewage leak (sink/toilet overflow)</th>
          <td>
            <input type="radio" value="fixed_immediately" <%= multi_quesiton_html(29, 'leak_treatment', 'home_sewage') %>>
          </td>
          <td>
            <input type="radio" value="not_fixed_immediately" <%= multi_quesiton_html(29, 'leak_treatment', 'home_sewage') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Sewage leak (backflow from street)</th>
          <td>
            <input type="radio" value="fixed_immediately" <%= multi_quesiton_html(29, 'leak_treatment', 'street_sewage') %>>
          </td>
          <td>
            <input type="radio" value="not_fixed_immediately" <%= multi_quesiton_html(29, 'leak_treatment', 'street_sewage') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Flooding or other catastrophic water damage</th>
          <td>
            <input type="radio" value="fixed_immediately" <%= multi_quesiton_html(29, 'leak_treatment', 'catastrophic') %>>
          </td>
          <td>
            <input type="radio" value="not_fixed_immediately" <%= multi_quesiton_html(29, 'leak_treatment', 'catastrophic') %>>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>

  <fieldset>
    <h6>What was the source of the leak?</h6>
    <% leak_source = {
      'sink': 'Sink, refrigerator, ice machine, dishwasher',
      'bath': 'Bath or shower',
      'pipe': 'Pipe (wall or floor)',
      'roof': 'Roof',
      'foundation': 'Foundation leaks (into basement)',
      'waterbed': 'Waterbed',
    } %>
    <%= build_checkboxes(leak_source, 30, 'leak_sources') %>
    <label>
      <input type="checkbox" value="other" <%= question_html(30, 'leak_sources') %>>
      Other (please specify)<br>
      <input type="text" <%= question_html(30, 'leak_sources') %>>
    </label>
  </fieldset>

  <fieldset>
    <h6 class="label-required">Do you notice any of the following outside your home?</h6>
    <% noticable_water = {
      'sprinklers': 'Sprinklers that hit the outside of the house',
      'rainwater': 'Rainwater or snow melt against the sides/near the foundation of the house',
      'down_spouts': 'Down spouts that drain against/near the house',
      'na': 'N/A',
    } %>
    <%= build_checkboxes(noticable_water, 31, 'noticable_water', true) %>
  </fieldset>

  <fieldset>
    <h6>Do you notice any of the following inside your home?</h6>
    <table class="table table-striped table-thirds">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Yes</th>
          <th>No</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Unpleasant odors or smells</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(31, 'home_misc', 'odors') %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(31, 'home_misc', 'odors') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">A lot of dust on surfaces</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(31, 'home_misc', 'dust') %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(31, 'home_misc', 'dust') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Dark/grey dirt or dust on windowsills or near windows</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(31, 'home_misc', 'dirt') %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(31, 'home_misc', 'dirt') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Water stains on walls and/or ceilings</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(31, 'home_misc', 'stains') %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(31, 'home_misc', 'stains') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Visible mold on walls and/or ceilings</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(31, 'home_misc', 'mold') %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(31, 'home_misc', 'mold') %>>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>

  <fieldset>
    <h6>What type of vacuum do you own?</h6>
    <% vacuum_type = {
      'hepa_filter': 'HEPA filtered vacuum',
      'hepa_style': 'HEPA "style" vacuum',
      'central': 'Central vacuum',
      'standard': 'Standard vacuum',
      'none': 'None',
      'idk': 'I don\'t know',
    } %>
    <%= build_radios(vacuum_type, 32, 'vacuum_type') %>
  </fieldset>

  <fieldset>
    <h6>On average how often do you vacuum?</h6>
    <% vacuum_freq = {
      '3x': '3x per week or more',
      '1x': '1x per week',
      'monthly': 'Monthly',
      'rarely': 'Rarely/Never',
    } %>
    <%= build_radios(vacuum_freq, 33, 'vacuum_freq') %>
  </fieldset>

  <fieldset>
    <h6 class="label-required">Where do you store cleaning products or chemicals?</h6>

    <table class="table table-striped table-sixths">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Inside the bedroom</th>
          <th>Inside the house (not in the bedroom)</th>
          <th>Inside an attached garage</th>
          <th>Outside the house/detached garage</th>
          <th>N/A</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Cleaning supplies</th>
          <td>
            <input type="checkbox" value="bedroom" <%= multi_quesiton_html(34, 'chemicals', 'bedroom', true) %>>
          </td>
          <td>
            <input type="checkbox" value="house" <%= multi_quesiton_html(34, 'chemicals', 'bedroom', true) %>>
          </td>
          <td>
            <input type="checkbox" value="garage" <%= multi_quesiton_html(34, 'chemicals', 'bedroom', true) %>>
          </td>
          <td>
            <input type="checkbox" value="outside" <%= multi_quesiton_html(34, 'chemicals', 'bedroom', true) %>>
          </td>
          <td>
            <input type="checkbox" value="na" <%= multi_quesiton_html(34, 'chemicals', 'bedroom', true) %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Personal care supplies</th>
          <td>
            <input type="checkbox" value="bedroom" <%= multi_quesiton_html(34, 'chemicals', 'personal', true) %>>
          </td>
          <td>
            <input type="checkbox" value="house" <%= multi_quesiton_html(34, 'chemicals', 'personal', true) %>>
          </td>
          <td>
            <input type="checkbox" value="garage" <%= multi_quesiton_html(34, 'chemicals', 'personal', true) %>>
          </td>
          <td>
            <input type="checkbox" value="outside" <%= multi_quesiton_html(34, 'chemicals', 'personal', true) %>>
          </td>
          <td>
            <input type="checkbox" value="na" <%= multi_quesiton_html(34, 'chemicals', 'personal', true) %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Paint and art supplies</th>
          <td>
            <input type="checkbox" value="bedroom" <%= multi_quesiton_html(34, 'chemicals', 'paint', true) %>>
          </td>
          <td>
            <input type="checkbox" value="house" <%= multi_quesiton_html(34, 'chemicals', 'paint', true) %>>
          </td>
          <td>
            <input type="checkbox" value="garage" <%= multi_quesiton_html(34, 'chemicals', 'paint', true) %>>
          </td>
          <td>
            <input type="checkbox" value="outside" <%= multi_quesiton_html(34, 'chemicals', 'paint', true) %>>
          </td>
          <td>
            <input type="checkbox" value="na" <%= multi_quesiton_html(34, 'chemicals', 'paint', true) %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Fertilizers and pesticides</th>
          <td>
            <input type="checkbox" value="bedroom" <%= multi_quesiton_html(34, 'chemicals', 'pesticide', true) %>>
          </td>
          <td>
            <input type="checkbox" value="house" <%= multi_quesiton_html(34, 'chemicals', 'pesticide', true) %>>
          </td>
          <td>
            <input type="checkbox" value="garage" <%= multi_quesiton_html(34, 'chemicals', 'pesticide', true) %>>
          </td>
          <td>
            <input type="checkbox" value="outside" <%= multi_quesiton_html(34, 'chemicals', 'pesticide', true) %>>
          </td>
          <td>
            <input type="checkbox" value="na" <%= multi_quesiton_html(34, 'chemicals', 'pesticide', true) %>>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>

  <fieldset>
    <h6 class="label-required">Do you think you have mold in your house?</h6>
    <% mold = {
      'yes': 'Yes',
      'no': 'No',
      'idk': 'I don\'t know',
    } %>
    <%= build_radios(mold, 35, 'mold', true) %>
  </fieldset>

  <fieldset>
    <h6 class="label-required">Do you regularly use air fresheners, incense, and/or burn scented candals in your home?</h6>
    <% fresheners = {
      'yes': 'Yes',
      'no': 'No',
    } %>
    <%= build_radios(fresheners, 36, 'fresheners', true) %>
  </fieldset>

  <fieldset>
    <h6 class="label-required">Do you treat for pests?</h6>

    <table class="table table-striped table-fourths">
      <thead>
        <th>&nbsp;</th>
        <th>Daily, Weekly, Monthly, Quarterly</th>
        <th>Occasionally/as needed</th>
        <th>I don't treat</th>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Indoor</th>
          <td>
            <input type="radio" value="often" <%= multi_quesiton_html(37, 'pest_treatment', 'indoor', true) %>>
          </td>
          <td>
            <input type="radio" value="ocassionally" <%= multi_quesiton_html(37, 'pest_treatment', 'indoor', true) %>>
          </td>
          <td>
            <input type="radio" value="never" <%= multi_quesiton_html(37, 'pest_treatment', 'indoor', true) %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Outdoor</th>
          <td>
            <input type="radio" value="often" <%= multi_quesiton_html(37, 'pest_treatment', 'outdoor', true) %>>
          </td>
          <td>
            <input type="radio" value="ocassionally" <%= multi_quesiton_html(37, 'pest_treatment', 'outdoor', true) %>>
          </td>
          <td>
            <input type="radio" value="never" <%= multi_quesiton_html(37, 'pest_treatment', 'outdoor', true) %>>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>

  <fieldset>
    <h6 class="label-required">Do you have any pests <em>inside</em> your home (i.e., in attic, crawlspace, wall cavities)?</h6>

    <% pests = {
      'bats': 'Bats',
      'roaches': 'Cockroaches',
      'mites': 'Dust mites',
      'rats': 'Mice/Rats',
      'termites': 'Termites',
      'ants': 'Ants',
      'na': 'N/A',
    } %>
    <%= build_checkboxes(pests, 38, 'pests', true) %>
  </fieldset>

  <fieldset>
    <h6>Do you experience any of the following symptoms in your home on a regular/ongoing basis?</h6>
    <% symptoms = {
      'sinus_congestion': 'Sinus congestion',
      'sleep_disturbance': 'Sleep disturbance (difficulty sleeping, waking up)',
      'increased_sensitivity': 'Increased sensitivity to allergies',
      'dry_eyes': 'Dry eyes',
      'moody': 'Mood changes/feeling agitated',
      'depression': 'Feeling depressed',
      'headaches': 'Frequent headaches',
      'coughing': 'Coughing, sneezing, or shortness of breath',
      'fatigue': 'Extreme fatigue',
      'aching': 'Aching muscles or joints',
      'stomach_discomfort': 'Stomach discomfort',
      'nausea': 'Nausea',
      'asthma': 'Increased need for asthma inhalers or other respitory medications',
      'foggy_thinking': 'Foggy thinking, difficulty making decisions',
      'night_sweats': 'Night sweats',
      'frequent_colds': 'Always feeling sick (frequent colds or respitory issues)',
      'memory_loss': 'Short term memory loss',
      'heart_racing': 'Heart racing or palpitations',
      'rashes': 'Skin rashes',
      'sore_throat': 'Frequent sore throats',
      'vertigo': 'Vertigo or dizziness',
      'nosebleeds': 'Nosebleeds',
      'no_symptoms': 'No symptoms',
    } %>
    <%= build_checkboxes(symptoms, 39, 'symptoms') %>
    <label>
      <input type="checkbox" value="other" <%= question_html(39, 'symptoms') %>>
      Other (please specify)<br>
      <input type="text" <%= question_html(39, 'symptoms') %>>
    </label>
  </fieldset>

  <fieldset>
    <h6>Did any of your symptons start or get worse after:</h6>

    <table class="table table-striped table-thirds">
      <thead>
        <th>&nbsp;</th>
        <th>Yes</th>
        <th>No</th>
      </thead>
      <tbody>
        <tr>
          <th scope="row">A water event (i.e., leak, pipe break, flooding)</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(40, 'symptoms_escalation', 'water_event') %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(40, 'symptoms_escalation', 'water_event') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">A remodel, retrofit, or house repair</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(40, 'symptoms_escalation', 'house_repair') %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(40, 'symptoms_escalation', 'house_repair') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Pest treatment</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(40, 'symptoms_escalation', 'pest_treatment') %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(40, 'symptoms_escalation', 'pest_treatment') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Professional carpet cleaning</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(40, 'symptoms_escalation', 'carpet_cleaning') %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(40, 'symptoms_escalation', 'carpet_cleaning') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Addition of new furniture, carpeting, and/or flooring</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(40, 'symptoms_escalation', 'new_flooring') %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(40, 'symptoms_escalation', 'new_flooring') %>>
          </td>
        </tr>
      </tbody>
    </table>

    <label>
      Other (please specify)<br>
      <input type="text" id="questions[40][symptoms_escalation][other]" name="questions[40][symptoms_escalation][other]">
    </label>
  </fieldset>

  <fieldset>
    <h6>Do you experience symptoms (like sneezing, coughing, or headaches) during or after:</h6>

    <table class="table table-striped table-thirds">
      <thead>
        <th>&nbsp;</th>
        <th>Yes</th>
        <th>No</th>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Vacuuming</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(41, 'symptoms_after', 'vacuuming') %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(41, 'symptoms_after', 'vacuuming') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Cooking</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(41, 'symptoms_after', 'cooking') %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(41, 'symptoms_after', 'cooking') %>>
          </td>
        </tr>
        <tr>
          <th scope="row">Turning on the heat or air conditioning</th>
          <td>
            <input type="radio" value="yes" <%= multi_quesiton_html(41, 'symptoms_after', 'ac') %>>
          </td>
          <td>
            <input type="radio" value="no" <%= multi_quesiton_html(41, 'symptoms_after', 'ac') %>>
          </td>
        </tr>
      </tbody>
    </table>

    <label>
      Other (please specify)<br>
      <input type="text" id="questions[41][symptoms_after][other]" name="questions[41][symptoms_after][other]">
    </label>
  </fieldset>

  <fieldset>
    <h6>Do you feel better when you leave the house only to feel worse again when you return?  Consider how you feel when you leave the house each day or go away for the weekend or on vacation.</h6>
    <% do_you_feel_like_shit_when_you_get_home = {
      'yes': 'Yes',
      'no': 'No',
      'idk': 'I don\'t know',
    } %>
    <%= build_radios(do_you_feel_like_shit_when_you_get_home, 42, 'feel_worse_at_home') %>
  </fieldset>

  <fieldset>
    <h6>If you feel better when you leave the house, what symptoms are relieved?</h6>
    <textarea <%= question_html(42, 'symptoms_relieved') %>></textarea>
  </fieldset>

  <fieldset>
    <h6>To what extent do you believe your home is negatively impacting your health or the health of your family?</h6>
    <% assumed_health_impact = {
      'none': 'None',
      'little': 'Very little',
      'somewhat': 'Somewhat',
      'moderate': 'A moderate amount',
      'extreme': 'A great deal',
    } %>
    <%= build_radios(assumed_health_impact, 43, 'assumed_health_impact') %>
  </fieldset>

  <fieldset>
    <h6>What, if any, specific elements of your home are you concerned might be negatively impacting your health or the health of your family?</h6>
    <textarea <%= question_html(44, 'concerned_health_impact') %>></textarea>
  </fieldset>

  <fieldset>
    <h6>Why do you believe these elements are having this impact?</h6>
    <textarea <%= question_html(45, 'concerned_health_impact_explaination') %>></textarea>
  </fieldset>

  <fieldset>
    <h6>Do you have any other concerns about your home we should know about?</h6>
    <textarea <%= question_html(46, 'concerns_etc') %>></textarea>
  </fieldset>

  <fieldset>
    <h6>Please share any feedback you have about the survey</h6>
    <textarea <%= question_html(47, 'survey_feedback') %>></textarea>
  </fieldset>

  <%= submit_tag 'Calculate Score', class: 'btn btn-primary' %>
<% end %>

<script>
  $('.js-validate').validate({
    errorClass: 'c-validation has-error',

    errorPlacement: function(error, element) {
      error.insertBefore(element.parent());
    }
  });
</script>
